* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: black;
}

.homeContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

nav {
   color: white;
   display: flex;
   justify-content: space-between;
   text-align: center;
   background-color: blue;
   padding: 2rem 10rem;
   margin-bottom: 10vh;
}

nav :visited {
   color: white;
   text-decoration: none;
}

nav input[type='text'] {
   width: 20rem;
   padding: 0.5rem 0.7rem;
   font-size: 1rem;
}

.homeContainer input[type='text'] {
   padding: 1rem 1.5rem;
   width: 40rem;
   font-size: 2rem;
}

.cityPageContainer {
   padding: 0rem 10rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.infoBox {
   background-color: aqua;
   width: 25rem;
   height: 30rem;
   padding: 3.5rem;
   margin-bottom: 10vh;
}

.hourdayBox {
   background-color: aquamarine;
   width: 100%;
}

.hourdayBox .enable {
   display: flex;
   justify-content: center;
   justify-content: space-around;
   align-items: center;
   margin: 0 40rem;
}

